<div class="row">
  <div class="pseudo-form">
    <form class="form-inline" action="index.html" method="post">
      <div class="form-group">
        <label for="type">Status:</label>
        <select class="form-control" name="type">
          <option value="introduced">Introduced</option>
          <option value="updated">Updated</option>
          <option value="passed">Passed</option>
          <option value="enacted">Enacted</option>
          <option value="vetoed">Vetoed</option>
        </select>
      </div>
      <div class="form-group">
        <label for="type">Chamber:</label>
        <select class="form-control" name="type">
          <option value="house">House</option>
          <option value="senate">Senate</option>
        </select>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <h1>Content!</h1>
</div>
