<div class="row">
  <div class="col-md-6">
    <h2>Senate:</h2>
    <div class="row" *ngFor="let committee of senateCommitteeList">
      <div class="panel panel-default" (click)="goToCommitteeDetail(committee)">
        <h4 class="panel-heading">{{committee.name}}</h4>
        <p class="panel-body">Chair: {{committee.chair}}</p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h2>House:</h2>
    <div class="row" *ngFor="let committee of houseCommitteeList">
      <div class="panel panel-default" (click)="goToCommitteeDetail(committee)">
        <h4 class="panel-heading">{{committee.name}}</h4>
        <p class="panel-body">Chair: {{committee.chair}}</p>
      </div>
    </div>
  </div>

</div>
