<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{committeeToDisplay?.committee}}</h3>
  </div>
  <div class="panel-heading">
    <h3 class="panel-title">{{committeeToDisplay?.chamber}}</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a class="list-group-item" *ngFor="let member of committeeToDisplay?.current_members" (click)="goToLegislatorDetail(member)"> {{member.name}} ({{member.party}}-{{member.state}})</a>
    </div>
  </div>
</div>
